<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>222380425094-gstri9bpdv8ld7tt2672t2oss11d4vb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222380425094-gstri9bpdv8ld7tt2672t2oss11d4vb1</string>
	<key>API_KEY</key>
	<string>AIzaSyCTra6PzToEiFG7fySTyq-pUwlNzWsRHnE</string>
	<key>GCM_SENDER_ID</key>
	<string>222380425094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.StasChat</string>
	<key>PROJECT_ID</key>
	<string>staschat-7657c</string>
	<key>STORAGE_BUCKET</key>
	<string>staschat-7657c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222380425094:ios:1fc041bb5d12a1ef</string>
	<key>DATABASE_URL</key>
	<string>https://staschat-7657c.firebaseio.com</string>
</dict>
</plist>